.header {
	width: 100%;
	position: sticky;
	top: 0;
}

.header_main_container {
	background-image: url(../../assets//icons/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	border-radius: 20px 0 20px 20px;

	@media screen and (min-width: 768px) {
		height: 350px;
	}
	@media screen and (min-width: 1280px) {
		height: 400px;
	}
}
.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
	gap: 50px;
}

.header-backgroundImg {
	width: 350px;
}
